.folder {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  background: #cebd8838;
  width: 75%;
  margin: 0 auto;
  .folderName {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .fileInputLabel {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;

    .uploadBtn {
      width: 100%;
      position: relative;

      .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        border-radius: 5px;

        .uploadIcon {
          color: #eb9b2c;
          font-size: 40px;
        }

        input[type="file"] {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          visibility: hidden;
          cursor: pointer;
          opacity: 0;
        }
      }
    }
  }

  .uploadedFiles {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .uploadedFile {
      display: flex;
      align-items: center;
      background: #eae3cd;

      p {
        width: 100%;
        border: none;
        padding: 20px 10px;
        text-align: start;
        font-size: 16px;
        line-height: 20px;
        color: #555555;
      }

      .deleteBtn {
        display: flex;
        column-gap: 5px;
        align-items: center;
        justify-content: center;
        background-color: #da1d1d;
        color: #fff;
        padding: 8px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 20px;
        height: 100%;

        .deleteIcon {
          font-size: 22px;
        }
      }
    }
  }
}
